@mixin inputs-places {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 2rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form {
    .Full_Name {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
.apply-filter {
  background-color: #0f183d;
  color: #ffffff;
  font-size: 12px;
  padding: 11px 0px;
  border: 1px solid #0f183d;
  border-radius: 5px;
  width: 9%;
}
.apply-filter:hover {
  background-color: #0f183d;
  color: #ffffff;
  border: 1px solid #0f183d;
}
.cancel-filter {
  background-color: transparent;
  color: #0f183d;
  font-size: 13px;
  padding: 10px 0px;
  border: 1px solid #0f183d;
  border-radius: 5px;
  width: 6%;
}
.cancel-filter:hover {
  background-color: transparent;
  color: #0f183d;
  border: 1px solid #0f183d;
}
::ng-deep {
  .p-calendar {
    width: 100% !important;
  }
  .p-dropdown {
    width: 100% !important;
  }
  .p-multiselect {
    width: 100%;
  }
  .p-multiselect .p-multiselect-label {
    display: flex !important;
    align-items: center;
  }
  .item-list {
    display: flex !important;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .item-list-result {
    display: flex !important;
    align-items: center;
    gap: 5px;
  }
  .box {
    width: 20px;
    height: 20px;
  }
  //   .p-component, .p-component * {

  // }
}

.export {
  background-color: #fed8b17a;
  // border-color: var(--darkRed);
  border: none !important;
  color: var(--darkRed);
  font-weight: 200 !important;
  transform: all 0.4s ease-in-out !important;
  border-radius: 5px;
}

.export:hover {
  background: var(--darkRed) !important;
  color: #fff !important;
  // border-color: var(--darkRed) !important;
}

.reset {
  background-color: #bbbbbb6c;
  // border-color: var(--darkRed);
  border: none !important;
  color: #4e4e4e;
  font-weight: 200 !important;
  transform: all 0.4s ease-in-out !important;
  border-radius: 5px;
}

.reset:hover {
  background: transparent !important;
  border-color: #4e4e4e !important;
  color: #4e4e4e !important;
  // border-color: var(--darkRed) !important;
}
.col-md-4 {
  margin: 8px 0px;
  label {
    margin: 2px;
  }
}

/* style create account*/
.country {
  background-color: #f5f9f9;
  padding: 8px;
  border: 1px solid #48a299;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  span {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1px;
  }
}
.btn-eye {
  position: absolute;
  bottom: 13px !important;
  margin: 0px;
  right: 5px;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  color: rgb(163, 157, 157) !important;
}

input {
  border: 1px solid #aaa;
}
.massege-login {
  text-align: center;
  font-size: 14px;
  .login {
    color: #5f2d79;
    text-decoration: none;
    font-weight: bold;
  }
}
label {
  font-size: 12px;
  color: #0e1740;
  font-weight: bold;
}
