.wrapper {
  padding: 1.5rem;
}


::ng-deep {
  .p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    border-radius: 10px;
  }
  .p-calendar .p-inputtext {
    border: none !important;
    border-top: 1px solid #b7b9bb !important;
    border-bottom: 1px solid #b7b9bb !important;
    border-left: 1px solid #b7b9bb !important;
    background-color: transparent !important;
  }
  .p-calendar {
    width: 100% !important;
  }
  .p-button {
    color: #000 !important;
    background-color: transparent !important;
    border: none !important;
    border-top: 1px solid #b7b9bb !important;
    border-right: 1px solid #b7b9bb !important;
    border-bottom: 1px solid #b7b9bb !important;
    border-radius: none !important;
  }
  .p-button:hover {
    color: #000;
  }
}

label {
  color: #0e1740 !important;
  font-size: 12px !important;
  padding: 7px 0px;
  font-weight: 600 !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 14px 0.75rem !important;
  border-radius: 10px;
}
.report-form{
  box-shadow: 0px 5px 10px #7F828D1A;
  border: 1px solid #C5C7CF;
  border-radius: 20px;
  padding: 1.5rem;
}


.submit,
.submit:hover {
  background: #5f2d79 0% 0% no-repeat padding-box !important;
  border-radius: 8px !important;
  color: #ffff !important;
}
