<div class="wrapper">
  <app-screen-haeder [pageName]="'BRANDS'" (CreateHandler)="openCreateDialog($event)" [firstLetter]="'P'"
    [title]="'ROMOTION'" (searchValue)="search($event)" [filterOfNames]="filterOfNames"
    (showFilterField2)="showFilterFieldFn($event)"></app-screen-haeder>

  <!-- (isEditBtnClicked);="EditHandler($event)"
  (isDeleteBtnClicked)="DeleteHandler($event)";
   -->

  <form *ngIf="showFilterField" [formGroup]="filterField">
    <div class="row my-3">
      <div class="col-md-4 d-flex align-items-center gap-3" *ngFor="let item of ['name']">
        <div class="w-100">
          <label for="">{{item ==='name' ? 'Name':''}}</label><br>
          <input type="text" [formControlName]="item" class="w-100" pInputText
            [placeholder]="item ==='name' ? 'Name': ''">
        </div>
      </div>
      <div class="col-md-4">
        <label>Create From</label><br>
        <p-calendar formControlName="created_from" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
      </div>
      <div class="col-md-4">
        <label>Create To</label><br>
        <p-calendar formControlName="created_to" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
      </div>
      <div class="col-md-4">
        <label class="">Type</label><br>
        <p-dropdown [options]="filterType" formControlName="type" placeholder="Chosse Type"
          optionLabel="name"></p-dropdown>
      </div>
      <div class="col-md-4">
        <label>Status Active</label><br>
        <p-dropdown [options]="visibility" formControlName="is_active" placeholder="Chosse Status"
          optionLabel="name"></p-dropdown>
      </div>
    </div>
    <div class=" d-flex justify-content-end align-items-baseline gap-3">
      <button type="submit" (click)="getFilterAction()" class="apply-filter btn">Apply Filter</button>
      <button (click)="resetFormColumn()" class="cancel-filter btn">Reset</button>

    </div>
  </form>
  <app-data-table [selectedItems]="selectedItems" (isBulkExportBtnClicked)="handleBulkExportedData($event)"
    (isBulkDeleteBtnClicked)="handleBulkDeletePromotion($event)" (isDeleteBtnClicked)="handleDeleteBrand($event)"
    [loadingIndicator]="loadingIndicator" (isEditBtnClicked)="EditHandler($event)"
    (sendTablePageSize)="handlePageSize($event)" [showActionCol]="true" [showDetailsAction]="false"
    [showDeleteAction]="true" [showEditAction]="true" [tableHeaders]="tableHeader" [tableData]="data$ | async"
    [totalItems]="length" [page]="page" [activeStatus]="false" [tableColumn]="tableHeader" [showToggleStatus]="true"
    (isStatusChanged)="changeStatus($event)" #table>
  </app-data-table>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '30vw' }" [breakpoints]="{ '960px': '75vw', '640px': '97vw' }" [baseZIndex]="10000">
</p-confirmDialog>
