@mixin position {
  display: flex;
  align-items: center;
}
.wrapper {
  padding: 1.5rem;
  .header {
    h2 {
      color: #0e1740 !important;
      font-size: 29px !important;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif !important;
      span {
        position: relative;
      }
    }
    @include position;
    justify-content: space-between;
    .header-Btns {
      @include position;
      justify-content: end;
      flex-direction: row-reverse;
      gap: .5rem;
      .crud {
        @include position;
        justify-content: center;
        flex-direction: column;
        .create {
          background-color: #5f2d79 !important;
          border-color: #5f2d79 !important;
          font-size: 18px !important;
          font-weight: 300 !important;
          &:enabled:hover {
            background: transparent !important;
            color: #5f2d79;
            border-color: #5f2d79;
          }
        }
      }
      .vertical_lign {
        background-color: #a0a3b1;
        width: 1px;
        height: 25px;
      }
      .setting-btn {
        background-color: transparent !important;
        border: none !important;
        color: #0e1740 !important;
      }
    }
  }
}
.col-md-4
{
  margin: 10px 0px;
  lable{
    margin: 2px;
  }
}
.apply-filter
{
  background-color: #0F183D;
    color: #FFFFFF;
    font-size: 12px;
    padding: 11px 0px;
    border: 1px solid #0F183D;
    border-radius: 5px;
    width: 9%;
}
.apply-filter:hover
{
  background-color: #0F183D;
  color: #FFFFFF;
  border:1px solid #0F183D;
}
.cancel-filter
{
  background-color: transparent;
    color: #0F183D;
    font-size: 13px;
    padding: 10px 0px;
    border: 1px solid #0F183D;
    border-radius: 5px;
    width: 6%;
}
.cancel-filter:hover
{
  background-color: transparent;
  color: #0F183D;
  border:1px solid #0F183D;
}
::ng-deep {
  .allSearch
  {
    text-align: right;
    width: 20% !important;
    border: 1px solid #bfdbfe;
    border-radius: 7px;
    display: flex;
    align-items: baseline;
  }
  .allSearch .p-inputtext
  {
    width: 100% !important;
  }
  .allSearch .p-inputtext:enabled:focus
  {
    border: none!important;
    box-shadow: none !important;
    width: 100% !important;
  }
  .allSearch .pi
  {
    margin: 4px 10px 0px 10px !important;
  }
  .p-button-label {
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 1px;
  }
  .p-button {
    padding: 8px 1.25rem !important;
  }
}

h2 span::after {
  content: "";
  background-color: #48A299;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0%;
  top: 100%;
  border-radius: 5px;
}
