<section class="web pb-5">
  <ng-container *ngIf="data.length == 0">
    <div class="notFound d-flex align-items-center justify-content-center" style="height: 40vh">
      Not result
    </div>
  </ng-container>
  <div class="shipping-address d-flex justify-content-between align-items-center" (mouseenter)="hoverOn(i)"
    (mouseleave)="hoverOff(i)" *ngFor="let coustomerDetail of data; let i = index">
    <!-- shipping address content-->
    <div class="my-1 w-100" style="margin: 20px;">
      <div class="d-flex justify-content-between" style="font-size: 14px; margin-bottom: 13px;">
        <h4 class="">
          <i class="fa-solid fa-location-dot" style="font-size: 12px"> </i>
          {{ coustomerDetail?.first_name }} {{ coustomerDetail?.last_name }}
        </h4>
        <div *ngIf="coustomerDetail.is_default_shipping == true" class="mx-1 rounded-pill" style="
                        background-color: #00a599;
                        color: white;
                        padding: 7px 15px 7px 11px;
                        font-size: 14px;
                      ">
          default shipping
        </div>
      </div>
      <div class="lead text-muted">
        <div style="font-size: 16px">
          {{ coustomerDetail?.city?.name }} -
          {{ coustomerDetail?.governorate?.name }} Governorate-{{
          coustomerDetail?.country?.name
          }}
        </div>
      </div>
      <div style="font-size: 16px;margin-right: 17px; " class="lead text-muted">
        {{ coustomerDetail?.address_details }}
      </div>
      <div class="" style="font-size: 14px">
        {{ coustomerDetail?.phone }}
        <i style="color: #00a599" class="fa-solid fa-circle-check mx-2"></i>
      </div>
    </div>
    <!-- <div *ngIf="selectedLang === 'en'" [ngClass]="
        coustomerDetail.isHovered ? 'actionsSlideIn' : 'actionsSlideOut'
      " class="defualt actions d-flex align-items-center">
      <div *ngIf="coustomerDetail.is_default_shipping == true" class="mx-1 rounded-pill" style="
          background-color: #00a599;
          color: white;
          padding: 7px 15px 7px 11px;
          font-size: 14px;
        ">
        default shipping
      </div>
      <div class="line"></div>
      <div class="d-flex align-items-center">
        <div class="edit me-3">
          <div class="">
            <button class="edit-icon-address" (click)="handleEditAddressCustomer(coustomerDetail, i)">
              <i class="fa-solid fa-pen"></i>
              Edit
            </button>
          </div>
        </div>
         <p-confirmPopup></p-confirmPopup>
        <div class="delete del" [ngClass]="coustomerDetail.isHovered ? 'fadeIn' : 'fadeOut'">
          <div class="">
            <button class="delete-icon-address text-danger d-flex align-items-center"
              (click)="deleteAddressClient(coustomerDetail, i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 24 24">
                <g id="trash" transform="translate(-108 -188)">
                  <path id="Vector" d="M18,.5C14.67.17,11.32,0,7.98,0A59.068,59.068,0,0,0,2.04.3L0,.5"
                    transform="translate(111 193.48)" fill="none" stroke="#c8375b" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-2" data-name="Vector"
                    d="M0,2.97.22,1.66C.38.71.5,0,2.19,0H4.81C6.5,0,6.63.75,6.78,1.67L7,2.97"
                    transform="translate(116.5 190)" fill="none" stroke="#c8375b" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-3" data-name="Vector"
                    d="M13.7,0l-.65,10.07c-.11,1.57-.2,2.79-2.99,2.79H3.64C.85,12.86.76,11.64.65,10.07L0,0"
                    transform="translate(113.15 197.14)" fill="none" stroke="#c8375b" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-4" data-name="Vector" d="M0,0H3.33" transform="translate(118.33 204.5)" fill="none"
                    stroke="#c8375b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-5" data-name="Vector" d="M0,0H5" transform="translate(117.5 200.5)" fill="none"
                    stroke="#c8375b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-6" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="none"
                    opacity="0" />
                </g>
              </svg>
              Delete
            </button>


          </div>
        </div>
      </div>
    </div> -->
    <div [ngClass]="
        coustomerDetail.isHovered ? 'actionsSlideInAR' : 'actionsSlideOutAR'
      " class="defualt actions d-flex align-items-center">

      <div class="line"></div>
      <div class="d-flex align-items-center">
        <div class="edit me-3">
          <div class="">
            <button class="edit-icon-address" (click)="handleEditAddressCustomer(coustomerDetail, i)">
              <i class="fa-solid fa-pen"></i>
              Edit
            </button>
          </div>
        </div>
        <div class="delete del" [ngClass]="coustomerDetail.isHovered ? 'fadeIn' : 'fadeOut'">
          <div class="">
            <button class="delete-icon-address text-danger d-flex align-items-center"
              (click)="deleteAddressClient(coustomerDetail, i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 24 24">
                <g id="trash" transform="translate(-108 -188)">
                  <path id="Vector" d="M18,.5C14.67.17,11.32,0,7.98,0A59.068,59.068,0,0,0,2.04.3L0,.5"
                    transform="translate(111 193.48)" fill="none" stroke="#c8375b" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-2" data-name="Vector"
                    d="M0,2.97.22,1.66C.38.71.5,0,2.19,0H4.81C6.5,0,6.63.75,6.78,1.67L7,2.97"
                    transform="translate(116.5 190)" fill="none" stroke="#c8375b" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-3" data-name="Vector"
                    d="M13.7,0l-.65,10.07c-.11,1.57-.2,2.79-2.99,2.79H3.64C.85,12.86.76,11.64.65,10.07L0,0"
                    transform="translate(113.15 197.14)" fill="none" stroke="#c8375b" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-4" data-name="Vector" d="M0,0H3.33" transform="translate(118.33 204.5)" fill="none"
                    stroke="#c8375b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-5" data-name="Vector" d="M0,0H5" transform="translate(117.5 200.5)" fill="none"
                    stroke="#c8375b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                  <path id="Vector-6" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="none"
                    opacity="0" />
                </g>
              </svg>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end">
    <button class="btn adding" (click)="changeNewAddressMode()">
      New Address
    </button>
  </div>
  <p-dialog [(visible)]="showModel" [modal]="true" [draggable]="false"
    [header]="editAddressMode == true ? translateEdit : translateSave" [style]="{ width: '40vw' }"
    [breakpoints]="{ '960px': '75vw', '640px': '97vw' }" [baseZIndex]="10000">
    <!-- [closable]="" -->

    <ng-container class="new-address">
      <div class="">
        <!-- new address content form-->

        <form [formGroup]="newAddressForm">
          <div class="dropDown">
            <label class="ms-2 d-block text-muted my-2"> GOV </label>
            <p-dropdown [options]="governs" formControlName="governorate_id" optionLabel="name"
              (onChange)="getCities($event)" placeholder="GOV">
            </p-dropdown>
            <small class="text-danger" *ngIf="
                submitted &&
                newAddressForm.get('governorate_id')?.hasError('required')
              ">
              GOV</small>
          </div>

          <div class="dropDown">
            <label class="ms-2 d-block text-muted my-2"> CITY</label>
            <p-dropdown [options]="cities" formControlName="city_id" optionLabel="name" placeholder="CITY">
            </p-dropdown>
            <small class="text-danger" *ngIf="
                submitted && newAddressForm.get('city_id')?.hasError('required')
              ">
              CITY MESSAGE</small>
          </div>

          <div>
            <label for="address" class="ms-2 d-block text-muted my-2">
              Additional Address Details
            </label>
            <input id="address" class="d-block mb-2" style="width: 100%" placeholder="Additional Address Details"
              formControlName="address_details" pInputText />
            <small class="text-danger" *ngIf="
                submitted &&
                newAddressForm.get('address_details')?.hasError('required')
              ">
              Additional Address</small>
          </div>

          <div class="phone">
            <label for="phoneNumber" class="d-block labelPhoneNumber ms-2" style="margin-top: 20px">Personal Info
            </label>

            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex country align-items-center" [ngClass]="selectedLang == 'en' ? 'me-2' : 'ms-2'">
                <ng-container *ngIf="countryName == 'eg'; else elseBlock">
                  <div class="photo">
                    <img src="assets/images/egypt.png" alt="" />
                  </div>
                  <span class="mx-2"> +2 </span>
                </ng-container>
                <ng-template #elseBlock>
                  <div class="photo">
                    <img src="assets/images/saudi-arabia.png" alt="" />
                  </div>
                  <span class="mx-2"> +966 </span>
                </ng-template>
              </div>

              <input id="phoneNumber" class="d-block me-2 w-100" style="margin-left: 10px" placeholder="phone"
                formControlName="phoneNumber" pInputText />
            </div>
            <div class="d-block">
              <small class="text-danger mt-1 phone"
                *ngIf="submitted && newAddressForm.get('phoneNumber')?.errors?.['required']">
                PHONE NUMBER</small>

              <small *ngIf="submitted && newAddressForm.get('phoneNumber')?.errors?.['pattern']"
                class="text-danger mt-1 phone">
                PHONE NUMBER2</small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="d-block text-muted my-2" for="first_name">
                First Name</label>
              <input id="first_name" placeholder="WRITE" formControlName="first_name" pInputText style="width: 100%" />
              <small class="text-danger" *ngIf="
                  submitted &&
                  newAddressForm.get('first_name')?.hasError('required')
                ">
                First Name</small>
            </div>

            <div class="col-md-6">
              <label class="d-block text-muted my-2" for="last_Name">
                Last Name</label>
              <input id="last_Name" placeholder="WRITE" formControlName="last_name" pInputText style="width: 100%" />
              <small class="text-danger" *ngIf="
                  submitted &&
                  newAddressForm.get('last_name')?.hasError('required')
                ">
                Last Name</small>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center my-4">
            <div class="text-muted d-flex align-items-center">
              <input id="choose" type="checkbox" [ngClass]="selectedLang == 'en' ? 'me-2' : 'ms-2'"
                formControlName="setAddress" />
              <label for="choose" class="" style="font-size: 14px; margin-left: 8px;">
                Set as Defualt Address
              </label>
            </div>
            <div class="">
              <button class="btn cancel-address" (click)="cancelNewAddress()">
                Cancel
              </button>
              <button class="btn save-address" type="submit" (click)="setCustomerNewAddress()">
                {{ editAddressMode == true ? "Edit Address" : "Save Address" }}
              </button>
            </div>
          </div>
        </form>
        <!--  -->
      </div>
    </ng-container>
  </p-dialog>
</section>

<p-toast></p-toast>

<app-loading [loader]="loader"></app-loading>