.wrapper1 {
  padding: 1.5rem 0rem;
  h2 {
    color: #0e1740 !important;
    font-size: 25px !important;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif !important;
    span {
      position: relative;
    }
  }
  //   .general-info,
  //   .Conditions {
  //     h4 {
  //       color: #0e1740;
  //       text-transform: uppercase;
  //       font-size: 20px;
  //       letter-spacing: 1px;
  //     }
  //   }
}

.toggle_type {
  .save {
    background-color: #5f2d79;
    border: none;
    width: 300%;
  }
}

h2 span::after {
  content: "";
  background-color: #48a299;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0%;
  top: 100%;
  border-radius: 5px;
}

p-dropdown {
  ::ng-deep {
    .p-dropdown {
      width: 100% !important;
    }
  }
}

.bottom {
  margin-bottom: 130px;
}

.border-dashed {
  border: 3px dashed darkgray;
}

// .container{
//   /* height: 3px; */
//   width: 122%;
//   position: relative;
//   /* background-color: ; */
// }
.container .wrapper {
  position: relative;
  // height: 105px;
  background-color: #e74c3c;
  width: 174%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active {
  border: none;
}
.wrapper .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon {
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text {
  font-size: 20px;
  font-weight: 500;
  color: #5b5b7b;
}
.wrapper #cancel-btn,
.wrapper #cancel-btn1,
.wrapper #cancel-btn-mobile1,
.wrapper #cancel-btn-mobile-2 {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn,
.wrapper.active:hover #cancel-btn1,
.wrapper.active:hover #cancel-btn-mobile1,
.wrapper.active:hover #cancel-btn-mobile-2 {
  display: block;
}
.wrapper #cancel-btn i:hover,
.wrapper #cancel-btn1 i:hover,
.wrapper #cancel-btn-mobile1,
.wrapper #cancel-btn-mobile-2 {
  color: #e74c3c;
}
.wrapper .file-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}
.wrapper.active:hover .file-name {
  display: block;
}
.container #custom-btn {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}

.m {
  margin-left: 13px;
  margin-top: 10px;
}

@mixin position {
  display: flex;
  align-items: center;
}
.wrapper1 {
  padding: 1.5rem 0rem;
  h2 {
    color: #0e1740 !important;
    font-size: 25px !important;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif !important;
    span {
      position: relative;
    }
  }
  //   .general-info,
  //   .Conditions {
  //     h4 {
  //       color: #0e1740;
  //       text-transform: uppercase;
  //       font-size: 20px;
  //       letter-spacing: 1px;
  //     }
  //   }
}

.toggle_type {
  .save {
    background-color: #5f2d79;
    border: none;
    width: 250%;
  }
}

h2 span::after {
  content: "";
  background-color: #48a299;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0%;
  top: 100%;
  border-radius: 5px;
}

label {
  color: #0e1740 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

p-dropdown {
  ::ng-deep {
    .p-dropdown {
      width: 100% !important;
    }
  }
}

.bottom {
  margin-bottom: 130px;
}

.border-dashed {
  border: 3px dashed darkgray;
}

small {
  font-size: 90% !important;
  font-weight: 600 !important;
}

.uploader,
.uploader2 {
  .label {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 7px;
    transition: all 0.2s ease;
    cursor: pointer;
    // background-color: #ebecef;
    border: 2px dashed #c2cdda;
    @include position;
    justify-content: center;
    .file-text {
      p {
        text-transform: capitalize;
        font-size: 12px;
        color: #9fa3b2;
      }
    }
  }

  input[type="file"] {
    display: none;
  }
  overflow: hidden;
}

// .uploader #cancel-btn,
// .uploader #cancel-btn1,
// .uploader #cancel-btn2,
// .uploader #cancel-btn3 {
//   // position: absolute;
//   // font-size: 20px;
//   // // right: 5%;
//   // // top: 5%;
//   // z-index: 9;
//   // color: #9658fe;
//   // cursor: pointer;
//   // display: none;
//   font-size: 20px;
//   // right: 50%;
//   // top: 50%;
//   z-index: 9;
//   color: #9658fe;
//   cursor: pointer;
//   display: none;
//   width: 10%;
// }
// .uploader:hover #cancel-btn,
// .uploader:hover #cancel-btn1,
// .uploader:hover #cancel-btn2,
// .uploader:hover #cancel-btn3 {
//   display: block;
// }
// .uploader .layer {
//   width: 50px;
//   height: 50px;
//   display: none;
//   border-radius: 7px;
//   // border-radius: ;
// }

// .uploader:hover .layer {
//   display: block;
//   background-color: white;
// }
// .uploader:hover img {
//   filter: blur(15px);
// }

.uploader #cancel-btn,
.uploader #cancel-btn1,
.uploader #cancel-btn2,
.uploader #cancel-btn3 {
  // position: absolute;
  font-size: 20px;
  // right: 50%;
  // top: 50%;
  z-index: 9;
  color: #9658fe;
  cursor: pointer;
  display: none;
  width: 10%;
  // border: 2px solid red;
  // border-radius: 5px;
}
// .uploader #cancel-btn span i {
//   // border: 2px solid red;
// }
.uploader .layer {
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 50%;
  // border-radius: ;
}
// }
.uploader .replaceLayer {
  position: absolute;
  top: 51%;
  right: 59%;
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 50%;
  // border-radius: ;
}
.uploader #layerdata,
.uploader #layerdata1,
.uploader #layerdata2,
.uploader #layerdata3 {
  font-size: 20px;
  // right: 50%;
  // top: 50%;
  z-index: 9;
  // color: #9658fe;
  cursor: pointer;
  display: none;
  width: 10%;
}
.uploader:hover #layerdata,
.uploader:hover #layerdata1,
.uploader:hover #layerdata2,
.uploader:hover #layerdata3 {
  display: block;
}
.uploader:hover img {
  filter: blur(20px);
}
.uploader:hover #cancel-btn,
.uploader:hover #cancel-btn1,
.uploader:hover #cancel-btn2,
.uploader:hover #cancel-btn3 {
  display: block;
}

.uploader:hover .layer {
  display: block;
  background-color: white;
}
.uploader:hover .replaceLayer {
  display: block;
  background-color: white;
}
